
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Page</title>

    <!-- Bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/adminstyle.css">
  </head>

  <body>
    <div class="container">

      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Events<span class="caret"></span>
          </a>
						<ul id="event-list" class="dropdown-menu" role="menu">

	          </ul>

        </li>
      </ul>

      <h1>Hello World </h1>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="grey-box">
  					<form id="addEventForm" action="/admin" method="post">
  						<label for="events">Add Event</label>
  						<input id="newEvent" type="text" name="" value="">
  						<button type="submit" name="submit" onclick="addEventForm()">Add</button>
  					</form>
				  </div>
        </div>
        <div class="list">

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="/admin.js" type="text/javascript"></script>
  </body>
</html>
