<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Attendance Register</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="home.js"></script>
  </head>
  <body>

    <div class="">
      <form class="" action="/login" method="post">
        <label for="username">Login</label>
        <input type="text" name="username" value="" placeholder="Username">
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" value="" placeholder="Password">
        <br><br>
        <div class="dropdown">
          <button class="dropbtn">Select Event</button>
          <div id="event-list" class="dropdown-content">

          </div>
        </div>
        <br><br>
        <button class="btn btn-warning" type="submit">Login</button>
        <br><br>
        <a href="/signup">Not registered yet?, Sign up</a>
      </form>

  </body>
</html>
