<!DOCTYPE html>
<html ng-app="attendance">
  <head>
    <meta charset="utf-8">
    <title>Attendance Register</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="span3 well">
      <legend>Please Sign up!</legend>
      <form>
  		    <input class="span3" name="username" placeholder="Username" type="text">
          <input class="span3" name="email" placeholder="Email" type="email">
          <input class="span3" name="password" placeholder="Password" type="password">
          <button class="btn btn-warning" type="submit">Sign up for Attendance</button>
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src= "/jquery-3.2.0.min.js" type="text/javascript"></script>
      <script src="bootstrap.min.js"></script>
      <script src="/signupCopy.js" type="text/javascript"></script>
  </div>
  </body>
</html>
